.header {
  margin: 0 auto;
  display: flex;
  border-radius: 0.8vw;
  width: 100%;
  height: 4vw;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}
.header .logo a {
  display: block;
  font-family: 'JetBrains Mono';
  margin-left: 1.2vw;
  font-size: 1.6vw;
  color: #ffffff;
  transition: color 0.5s;
  text-shadow: 0 0 1.33333333vw rgba(255, 105, 180, 0.9), 0 0 4vw rgba(255, 105, 180, 0.6), 0 0 8vw rgba(255, 105, 180, 0.4);
  text-decoration: none;
  font-weight: bold;
}
.header .logo a:hover {
  color: #FFB7C5;
}
.header .nav {
  position: absolute;
  display: flex;
  left: 40%;
  align-items: center;
  gap: 2.13333333vw;
}
.header .nav .nav-item {
  position: relative;
}
.header .nav .nav-item .hidden {
  position: absolute;
  backdrop-filter: blur(4px);
  border-radius: 0.53333333vw;
  margin-top: 1.29866667vw;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.28);
  padding: 0.53333333vw 0;
  min-width: 4.8vw;
  transition: all 0.7s ease;
  opacity: 0;
  visibility: hidden;
}
.header .nav .nav-item .hidden::before {
  content: '';
  position: absolute;
  top: -1.29866667vw;
  left: 0;
  width: 100%;
  height: 1.29866667vw;
  background: transparent;
}
.header .nav .nav-item .hidden a {
  margin: 0.4vw 0;
}
.header .nav-item:hover .hidden {
  opacity: 1;
  visibility: visible;
}
.header .nav a {
  font-size: 0.93333333vw;
  margin: 0;
  display: block;
  transition: color 0.5s;
  color: #d87cb6;
}
.header .nav a:hover {
  color: #f3f3f3;
}
.header .action {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.6vw;
  padding-right: 1.06666667vw;
  gap: 2.66666667vw;
}
.header .action .search-box {
  display: flex;
  align-items: center;
  padding: 0.53333333vw 1.33333333vw;
  font-size: 1.06666667vw;
}
.header .action .search-box .logout-btn {
  background: transparent;
  /* 剥离默认灰色背景，使其透明 */
  border: none;
  /* 剥离默认的 3D 边框 */
  outline: none;
  margin-right: 1.06666667vw;
  transition: all 0.4s ease;
}
.header .action .search-box .logout-btn .ri-logout-box-r-line {
  font-size: 1.33333333vw;
}
.header .action .search-box .logout-btn:hover {
  color: #f3f3f3;
  transform: scale(1.1);
}
.header .action .search-box .search-input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  width: 13.33333333vw;
  transition: width 0.4s ease;
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 1.06666667vw;
  cursor: pointer;
}
.header .action .search-box .search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
.header .action .icon-btn {
  transition: all 0.4s ease;
  text-decoration: none;
  text-shadow: 0 0 1.33333333vw rgba(255, 105, 180, 0.6);
}
.header .action .icon-btn:hover {
  color: #f3f3f3;
  transform: scale(1.1);
}
