// out: ../css/
@import "./variable.less";
.passagetitle{
    font-size: (4/@base)*1vw;
    text-align: center;
    font-weight: 700;
    font-family:'JetBrains Mono';
}
.content{
    width: 100%;
    margin-top: (1.5/@base*1vw);
    p{
        font-size: (3.5/@base*1vw);
        line-height: (3/@base*1vw);
    }
}
.pagination-controls{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: (10/@base)*1vw;
    text-decoration: none;
}
.prev-page{
    padding: (1/@base)*1vw (1/@base)*1vw;
    cursor: pointer;
}
.page-info{
    margin: 0 (8/@base)*1vw;
    font-weight: bold;
    color: #555;
}
.next-page{
    padding: (1/@base)*1vw (1/@base)*1vw;
    cursor: pointer;
}
.fold{
    margin-top: (5/@base)*1vw;
    cursor: pointer;
    text-decoration: none;
    background-color: #FFB7C5; 
    color: #F5F5F5;
    padding: (2 / @base * 1vw) (3 / @base * 1vw);
    border-radius: (2 / @base * 1vw);
    border:none;
}
.unfold{
    margin-top: (5/@base)*1vw;
    cursor: pointer;
    text-decoration: none;
    background-color: #FFB7C5; 
    color: #F5F5F5;
    padding: (2 / @base * 1vw) (3 / @base * 1vw);
    border:none;
    border-radius: (2 / @base * 1vw);
}